nav, header, #testimonials {
    background-color: var(--bg-color-header);
}
.top {
    display: none;
}
#details {
    background-color: var(--bg-color-dark);
}

footer {
    background-color: var(--bg-color-footer);
}

.nav {
    padding: 5% 8%;
}

.nav-left {
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
   
}

.nav-wrapper {
    width: 100%;
    display: flex;
}
.nav-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-list li a, .nav-right a {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-nav);
    font-size: 1.5rem;
} 

.nav ul li:nth-child(1) {
    margin: 0 60px;
}

.nav-right a {
    border: var(--color-white) 3px solid;
    border-radius: 50px;
    padding: 10px 40px;
}

/******header*******/
.header-wrapper {
    display: flex;
    justify-content: space-between;
    background-image: var(--bg-header-right);
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    background-position-y: 500px;
}

.top {
    display: none;
    position:static;
}

header {
    padding: 0 8%;
    background-image: var(--bg-header-left);
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y:center;
    height: 600px;
}

.header-title, .header-description {
    /* width: 40%; */
    height: 100%;
    width: 600px;
    padding: 0 0 0 40px;
}

.header-title {
    display: flex;
    align-items: center;
    
}

.header-title h1 {
    font-size: 6rem;
    color: var(--color-white);
    font-family: var(--font-nav);
}

.header-title span:nth-child(1) {
    text-transform:capitalize ;
}   

.header-title span:nth-child(2) {
    color: var(--color-pink);
}

.header-description {
    font-size: 1.5rem;
    color: var(--color-white);
    font-family: var(--font-nav);
    line-height: 1.5;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-description p {
    margin-top: 50px;
}

.header-description div:nth-child(1) {
    width: 50px;
    border-top: 5px solid var(--color-light-green);
}

/********section details*******/
.details-wrapper {
    display: flex;
    padding: 12% 8%;
    justify-content: space-between;
    font-family: var(--font-nav);
    background-image: var(--bg-detail-right);
    background-position:right;
    background-repeat: no-repeat;
    background-position-y:bottom;

}
.details-cards li:nth-child(2){
    margin: 30px 0;

}
.details-cards {
    padding: 0 0 0 40px;
}
.detail-card {
    list-style: none;
    display: flex;
    text-transform: capitalize;
}
.details-title {
    width: 40%;
}
.details-wrapper h2{
    font-size: 3.5rem;
    font-weight: bolder;
}
.pink-line {
    margin: -50px 0 50px 0;
    width: 50px;
    border-top: 5px solid var(--color-pink);
}
h2 span {
    text-transform: capitalize;
}
h2 {
    color: var(--color-white);
}
.detail-card img {
    margin-right: 20px;
}
.detail-card  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-card  div:nth-child(2) p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 5px 0;
    font-weight: bolder;
    color: var(--color-white);
}
.detail-card  div:nth-child(2) h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 7px 0;
    color: var(--color-pink);
    font-weight: bolder;
}

/******** seccion: testimonials ********/

#testimonials {
    background-image: var(--bg-test-left);
    background-repeat: no-repeat;
}


.tolowercase {
    text-transform: lowercase;
}

.test-wrapper {
    text-align: center;
    padding: 150px 0px;
    display: block;
    background-image: var(--bg-test-right);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.test-wrapper li {
    list-style-type: none;
}

.test-title {
    font-size: 3rem;
    font-family: var(--font-sans);
    font-weight: 900;
    margin: 0 200px;
    padding-bottom: 50px ;
}

.test-title span:last-child {
    color: var(--color-light-green);
    text-transform: lowercase;
}

.test-cards {
    margin: 0 100px;
    padding-top: 20px;
    color: var(--color-white);
    font-family: var(--font-nav);
    font-weight: bold;
    font-size: 0.9rem;
    display: flex;
}

.test-card {
    margin: 0 40px;
    line-height: 30px;
    background-image: var(--bg-test-quotes);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100px;
}

.test-description {
    padding-top: 50px;
  }

.test-description:first-letter{
    text-transform: capitalize
  }

.test-name {
    padding-top: 20px;
    padding-bottom: 5px;
    color: var(--color-light-green);
    font-size: 1.2rem;
    text-transform: capitalize;
}

.test-job {
    text-transform: capitalize;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: bold;
}

.test-card img {
    border-radius: 50%;
    border: 2px solid var(--color-light-green);
    width: 60px;
    margin-top: 20px;
}

/******** seccion: banner ********/

#banner {
    background-color: var(--bg-color-pink);
    height: 200px;
    background-image: var(--bg-banner-left);
    background-repeat: no-repeat;
    background-position: left bottom;
}

.banner-wrapper {
    align-items: center;
    padding-top: 70px;
    display: flex;
    justify-content: space-around;
}

.banner-title {
    color: var(--bg-color-footer);
    font-size: 3.2rem;
    font-weight: 900;
}

.banner-btn {
    border: var(--color-black) 2px solid;
    border-radius: 50px;
    padding: 10px 40px;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

/******** footer ********/

footer {
    height: 200px;
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    width: 90%;
    align-content: center;

}

.footer-left {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.footer-l-r {
    color: var(--color-gray-footer);
    font-weight: bold;
    text-transform: capitalize;
    line-height: 25px;
}

.footer-links {
    list-style-type: none;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}


.footer-link a {
    text-decoration: none;
    color: var(--color-white) ;
}

.footer-right {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-end;
}

.footer-socials img {
    padding-left: 20px;
}

.footer-r-cr {
    color: var(--color-gray-footer);
    font-weight: bold;
    text-transform: capitalize;
}

/*****contact******/
#contact {
    background-image: var(--bg-contact-left);
    background-position:top;
    background-repeat: no-repeat;
    background-color: var(--bg-color-header);
    background-position-x: -100px;
}
.contact-wrapper {
    display: flex;
    justify-content:space-between;
    padding: 8% 8%;
    /* height: 600px; */
    background-image: var(--bg-contact-form);
    background-position:bottom;
    background-repeat: no-repeat;
    background-position-x: 107%;
}

.contact-left, form{
    display: flex;
    flex-direction: column;
}
.contact-card {
    display: flex;
    align-items: center;
}
.contact-left h2 {
    font-size: 3rem;
    color: var(--color-white);
    font-family: var(--font-nav);
}
.contact-left >h3 {
    font-size: 1.8rem;
    color: var(--color-pink);
    margin: 20px 0 50px 0;
    font-family: var(--font-nav);
}
.contact-left ul li div h3 { 
    font-size: 1.2rem;
    color: var(--color-white);
    font-family: var(--font-nav);
}
.contact-card img {
    margin: 0 30px 0 0;
}

.contact-right {
    width: 50%;
}


.contact-right input {
    background-color:transparent;
    border: transparent;
    border-bottom: 1px solid var(--color-light-green);
    height: 50px;
    width: 100%;
}
.contact-right textarea {
    background-color:transparent;
    border: transparent;
    border-bottom: 1px solid var(--color-light-green);
    height: 100px;
    resize:none;
}
.contact-right input::placeholder, .contact-right textarea::placeholder {
   color: var(--color-light-green);
   padding: 15px 0 0 20px;
   font-family: var(--font-nav);

}
textarea:focus, input:focus {
    color: var(--color-light-green);
    font-size: 1.5rem;
}
.contact-right button {
    background-color: var(--color-white);
    font-family: var(--font-nav);
    border-radius: 50px;
    height: 50px;
    width: 120px;
    font-size: 1.2rem;
    border: none;
    margin: 20px 0 0 0;
    color: var(--color-btn);
    font-weight: bolder;
}

/***** about ******/

#about {
    background-color: var(--bg-color-header);
    height: 400px;
}

.about-wrapper {
    display: flex;
    height: 100%;
    font-family: var(--font-nav);
}

.about-title {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 3rem;
}

.about-description {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bolder;
    width: 70%;
    padding: 0 10%;
    background-image: var(--bg-contact-title);
    background-repeat: no-repeat;
    background-position: 100%;
}

#directors {
    background-color: var(--bg-color-green-dark);
}

.dir-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.dir-title {
    font-size: 2rem;
    text-align: center;
    padding-top: 70px;
}

.dir-card {
    background-color: var(--bg-color-about-card);
    height: 180px;
    width: 300px;
    margin: 20px ;
    text-align: center;
    position: relative
}

.dir-wrapper {
    height: 100%;
    width: 100%;
}

.dir-avatar img {
    border-radius: 50%;
    border: 2px solid var(--color-light-green);
    width: 60px;
    margin-top: 20px;
}

.dir-card-plus {
    display: flex;
    justify-content: center;
    height: 40px;
    padding-top: 20px;
}

.dir-card-plus-wrapper {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--bg-color-pink);
    align-items: center;
    border-radius: 50%;

}

.dir-card-plus img {
    height: 50%;
    width: 50%;
}

.dir-name {
    color: var(--color-light-green);
    padding-top: 10px;
    font-weight: bold;
}

.dir-job {
    color: var(--color-white);
    padding-top: 5px;
}

/****** footer about *******/

#about-footer {
    height: 330px;
    background-image: var(--bg-about-pattern);
    background-repeat: no-repeat;
    background-size: 160px;
}

.about-footer-wrapper {
    display: block;
    text-align: center;
    height: 100%;
}

.footer-title {
    padding-top: 100px;
    font-size: 1.3rem;
}

.footer-title::first-letter {
    text-transform: uppercase;
}

.footer-clients {
    display: flex;
    justify-content: space-around;
    padding: 70px 50px;
}

.footer-clients img {
    width: 100px;
    height: 100%;
    padding: 0px 20px;
}



