nav, header {
    background-color: var(--bg-color-header);
}
.nav {
    padding: 5% 5%;
}
.nav-left {
    display: flex;

}
.nav-list {
    display: flex;

}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}
.nav-list li a, .nav-right a {
    text-decoration: none;
    color: var(--color-white);
} 
