:root {
    --icon-header-left:var(--icon-header-left);
    --bg-color-header: #014E56;
    --bg-color-dark: #012F34;
    --bg-color-pink: #F67E7E;
    --bg-color-footer: #000000;
    --bg-color-green-dark: #004047;
    --color-green-marks: #2C6269;
    --color-light-green: #79C8C7;
    --color-green-dark: #012F34;
    --color-gray-footer: #5E7070;
    --color-white: #FFFFFF;
    --color-pink: #F67E7E;
}